<!DOCTYPE html>
<html>
<body>
</br>
</br>
 <link href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}" rel= "stylesheet">
 <link rel="shortcut icon"  href="{{ url_for('static' , filename= 'favicon.ico')}}" >
<h2>
    Fill The form to Predict whether arrest should be made or not
</h2>
<br>
<form action="/prediction_form/" method="POST" class="form-horizontal">
<div class="container">
<div class="form-group">
<label>Name: </label>   
<input type="text" id="name_id" class="form-control"  placeholder = "Name" name="Name" value= "trial">
</div>
<div class="form-group">
<label>Date: </label>
<input type="date" id="exampleInputFile" class="form-control"  placeholder = "Date" name="Date" value="Trial" required>

</div>
<div class="form-group">
    <label>Crime Type: </label>
    <select class="form-control" name="Crime_Type" required>
    <option value= "0" >Arson</option>
    <option value="1">Assault</option>
    <option value="2">Battery</option>
    <option value="3">Bulglary</option>
    <option value="4">Concealed Carry License Violation</option>
    <option value="5">Crime Sexual  Assault</option>
    <option value="6">Criminal Damage</option>
    <option value="7">Criminal Tresspass</option>
    <option value="8">Deceptive Practice</option>
    <option value="9">Gambling</option>
    <option value="10">Homicide</option>
    <option value="11">Human Traffiking</option>
    <option value="12">Interference With Police officer</option>
    <option value="13">Intimidation</option>
    <option value="14">Kidnapping</option>
    <option value="15">Liquor Law Violation</option>
    <option value="16">Motor Vehicle Theft</option>
    <option value="17">Narcotics</option>
    <option value="18">Non-Criminal</option>
    <option value="19">Non-Criminal(Subject Specified)</option>
    <option value="20">Obsenity</option>
    <option value="21">Offense Involving Children</option>
    <option value="22">Other Narcotics Violation</option>
    <option value="23">Other Offense</option>
    <option value="24">Prostituition</option>
    <option value="25">Public Indesency</option>
    <option value="26">Public Peace Violation</option>
    <option value="27">Robbery</option>
    <option value="28">Sex Offense</option>
    <option value="29">Stalking</option>
    <option value="30">Theft</option>
    <option value="31">Weapons Violation</option>
    </select>

</div>

<div class="form-group">
    <label>Beat: </label>
    <input class="form-control" type="number" id="number" name="Beat" value="{{request.form.Beat}}" min="1" required>
</div>

<div class="form-group">
    <label>Domestic: </label>
    <select  class="form-control" type="number" id="number" name="Domestic">
        <option value ="1"> Yes </option>
        <option value = "0"> No </option>
    </select>
</div>

<div class="form-group">
    <label>Location Description: </label>
    <select class="form-control" name="Location_Description" required>
    {% set i = 1 %}
    {% for  location in locationd %}
    <option value= "{{loop.index}}">{{location}}</option>
    {% set i = i+1 %}
    {% endfor %}
    </select>

</div>
<div class="form-group">
    <label>Ward: </label>
    <input class="form-control" type="number" id="number" name="ward" value="{{request.form.ward}}" min="1" max="50" required>

</div>
<div class="form-group">
    <label>District Number: </label>
    <input class="form-control" type="number" id="number" name="District" value="{{request.form.District}}" min="1" max="25" required>
</div>

</br>
<div class="form-group">
    <label>Community Area: </label>
    <input class="form-control" type="number" id="number" name="Community" value="{{request.form.Community}}" min="1" max="100" required>
    <br>
<button type="submit" class="btn btn-primary">Submit</button>


</div>
</div>
</form>
</body>
</html>