<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crimes in Chicago App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 <style type="text/css">
     body{
        background-image: url("https://pointersviewpoint.files.wordpress.com/2010/08/crime.jpg")
     }
 </style>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav >
                <br>
                <br>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a class="btn btn-danger" href="#">Home  </a>
					&nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                    <li role="presentation"><a class="btn btn-danger" href="showSignin">Sign In </a>
					&nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                    <li role="presentation"><a class="btn btn-danger" href="showSignUp">Sign Up </a>
                    </li>
                </ul>
            </nav>
	</div>	
		</div>
 
        <div class="jumbotron" align="center">
            <h1>Crimes in Chicago</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignin" role="button">Sign in today for a safe city</a>
            </p>
            <footer align="center" class="footer">
            <h3><p>&copy; Team 8 and co.</p></h3>
        </footer>
 
        </div>

   
</body>
 
</html>