<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crimes in Chicago App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
<br>
<br>
<br>
<h2>Your Prediction results are as follow:</h2>
 
<br>
<br>
<br>
<br>
<br>
<br>


<div class = "container">
 <div class="jumbotron" align="center">
        <h3>Crimes In Chicago</h3>

   <br>
    <h5 style="color: black">
        <b>The arrest is "{{result}}" hence should not be made for {{crime_}} in District {{District}}, with District beat count of {{beat_Count}}.<b> 

    </h5>
    <br>
    <h5>
        In order to make your district safe increase the beat count.
    </h5>
 </div>
 
      <footer align="center" class="footer">
        <p>&copy; Team 8</p>
      </footer>
 </div>